#UserSelectBtns {
    height: 50px;
    margin-top: 15px;
    display: flex;
    justify-content: space-around;

  }

.UserSelect{
    box-sizing: border-box;
    border-radius: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.05em;
    text-align: center;
    width: 48%;
    height: 100%;
    border: none;
}
#DisabledBtn{
    background: #f1f1f1;
    color: rgba(0, 0, 0, 0.4);    
}
#SeniorAbledBtn{
    background: #ffffff;
    border: 6px solid #fd3a69;
}
#CareAbledBtn{
    background: #ffffff;
    border: 6px solid #2EA45F;
}
