#mainfunction {
  display: flex;
  height: 250px;
  margin-top: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

#info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f4f3f3;
  width: 42%;
  height: 100%;
  text-align: center;
}
.showImg {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 58%;
}
#careshow {
  background-color: #ffeeb0;
}
#mapshow {
  background-color: #fb5d83;
}

/*button&&font*/
#infoText {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #000000;
}
.findBtn {
  border-radius: 10px;
  height: 17%;
  width: 70%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.05em;
  border: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}
#careFindBtn {
  background-color: #fb5d83;
  color: #ffffff;
}
#mapFindBtn {
  background-color: #ffeeb0;
  color: #000000;
}

/*iamge size*/
#audioimg {
  margin-top: 10px;
  width: 40px;
  height: 40px;
}

#infoImg {
  width: 195px;
  height: 150px;
}
