#title{
    margin-top: 20px;
    padding-left: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 990;
    font-size: 23px;
    line-height: 48px;

}

.signupArea{
    height: auto;
    border-radius: 15px;
    margin-bottom: 20px;
    &.pink{
      border: 3px solid #FB5D83;
    }
    &.green{
      border: 3px solid #55B682;
    }
  
}

//input&&Icon setting
.inputTemplate{
    display: flex;
    align-items: center;
    height: 50px;
    
}
#inputImg{
    width: 25px;
    height: 25px;
    margin-right: 15px;
    margin-left: 15px;
}

.inputTemplate > input{
    border: none;
    background: transparent;
    height: 48px;
    width: 800%;
    padding-left: 10px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 48px;
} 
//통신사 선택
.userTelType{
    width: 90px;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        
        font-size: 17px;
        color: #444;
        background-color: #fff;
        
        padding: .6em 1.4em .5em .8em;
        margin: 0;
        
        border: 1px solid #aaa;
        border-radius: .5em;
        box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
        margin-right: 5px;
}
//성별선택
.genderSelect {
        height:50px;
        width: 340px;
        display: flex;
        justify-content: space-between;
        margin-top: 12px;
        margin-bottom: 12px;
        
}


// 선
.hLine{
    &#pink{
        border-bottom: 3px solid #FB5D83;
    }
    &#green{
        border-bottom: 3px solid #55B682;
    }
}