.adminwholething > .detailjm {
  display: flex;
  justify-content: center;
  align-items: center;
}

.detailjm1 {
  width: 80%;
}

#titlejm {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  letter-spacing: 1px;
  font-weight: 400;
}
