/* 모달창을 화면 중앙. 최상단에 노출 */
.modalcont {
    /* 모달창 크기 */
    width: 50%;
    height: 80%;
  
    /* 최상단 위치 */
    z-index: 999999999;
    
    /* 중앙 배치 */
    /* top, bottom, left, right 는 브라우저 기준으로 작동한다. */
    /* translate는 본인의 크기 기준으로 작동한다. */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    /* 모달창 디자인 */
    background-color: white;

    border-radius: 8px;
    opacity: 1;
  }
  
  /* 모달창 내부 X버튼 */
  .modalclose {
    position: absolute;
    right: 10px;
    top: 10px;
    border: none;
    background-color: none;
  }
  .modalwrap {
    width: 100vw;
    height: 100vh;
    background-color: #0000003e;

    position: fixed;
    z-index: 99999999;

  }